---

name: Ansible Molecule

on:
  push:
    tags_ignore:
      - '*'
  pull_request:
  schedule:
    - cron: '3 2 2 * *'

jobs:
  test:
    uses: adfinis/github-workflows-bareos/.github/workflows/molecule.yaml@v0.5.1
